{% extends 'base/base.html' %}

	
{% block menu %}
  	<ul class="right hide-on-med-and-down">
        <li><a href="{% url 'index' %}">Principal</a></li>
        <li><a href="{% url 'usuario:registrar' %}">Regístrate</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
        <li><a href="{% url 'index' %}">Principal</a></li>
        <li><a href="{% url 'usuario:registrar' %}">Regístrate</a></li>
    </ul>
{% endblock menu %}

	      
	   

	

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row card-panel">
            
            <div class="col m6">
                <h2 class="center-align">Iniciar Sesión</h2>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="text" class="validate" name = "username">
                                <label for="email">Nombre de usuario</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pass" type="password" class="validate" name="password">
                                <label for="pass">Contraseña</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <input type="checkbox" id="remember">
                                    <label for="remember">Recuérdame</label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a href="#">Olvidé mi contraseña</a>
                                
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col m12">
                                <p class="right-align">
                                    <button class="btn btn-large waves-effect waves-light" type="submit"  value="Ingresar">Iniciar Sesión</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col m6">
                <h3>¡Únete!</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem hola hola hola
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                    modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>

            
        </div>
    </div>
</form>

{% endblock content %}